################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.log
*.obj
*.lastbuildstate
*.tlog
*.ipch
*.suo
*.db
*.opendb
